<!DOCTYPE html>

<body class="c32">

<div id="content">

	<div id="nav">
		<table>
  			<tr>
  				<td><a href="/account" class="home">Home<p><br></p></a></td>
		  		<td><a href="/c3visualization" class="c31">Media Count<br><p>(C3JS Line Chart)</p></a></td>
		  		<td><a href="/c3jsv2" class="c32">Follower Count<br><p>(C3JS Scatter Plot)</p></a></td>
		  		<td><a href="/visualization" class="d31">Media Count<br><p>(D3JS Bar Chart)</p></a></td>
		  		<td><a href="visualization2" class="d32">Media Likes<br><p>(D3JS Bubble Chart)</p></a></td>
		  		<td class="lastlink"><a href="/login">Log Out<p><br></p></a></td>
		  	</tr>
		</table>
	</div>


		<h1 style="text-align:center"> Follower count of Your Instagram Followings</h1>
		<p id="text"> The following scatter plot uses <a href="http://c3js.org/">C3JS</a> to display the number of followers of users that you followed on Instagram.</p> 

		<br><br>

		<div id="c3chart">
			<div id="spinner"> <image src="http://www.kubiszyn.co.uk/images/Spinner.gif" width="50px" height="50px" alt="Please wait while we process your data..."/> </div>
		</div>
		<script src="js/c3js2.js"></script>
</div>
</body>




