<!DOCTYPE html>

<div id="icons">
	<p id="login"> InstaVis </p>
	<p id="logsub"> visualization of your Instagram data</p>
	<br><br>
	<a href="/auth/instagram" id="btn" style="text-decoration:none">sign in</a>
		
</div>