
<div class="drowpdown-headers">
 	<h1> Likes count of Your Instagram Followers </h1>
</div>

<div class="col-md-9" role="main">

	<label><input type="checkbox"> Sort values</label>
	<br>
	<div id="chart"></div>
	<script src="js/vis3.js"></script>
</div>






