<!doctype html>

<body class="d32">

<div id="content">

  <div id="nav">
    <table>
        <tr>
          <td><a href="/account" class="home">Home<p><br></p></a></td>
          <td><a href="/c3visualization" class="c31">Media Count<br><p>(C3JS Line Chart)</p></a></td>
          <td><a href="/c3jsv2" class="c32">Follower Count<br><p>(C3JS Scatter Plot)</p></a></td>
          <td><a href="/visualization" class="d31">Media Count<br><p>(D3JS Bar Chart)</p></a></td>
          <td><a href="visualization2" class="d32">Media Likes<br><p>(D3JS Bubble Chart)</p></a></td>
          <td class="lastlink"><a href="/login">Log Out<p><br></p></a></td>
        </tr>
    </table>
  </div>


         <h1> Media Likes of Your Instagram </h1>
         <p id="text"> The following bubble chart uses <a href="http://d3js.org/">D3.js</a> to show your media likes on Instagram.</p> 
         <p id="text"> The size of the bubble reflects the number of likes. Hover on each bubble to see the data!</p> 

        <center>
          <div id="likesChart">
            <div id="spinner"> <image src="http://www.kubiszyn.co.uk/images/Spinner.gif" width="50px" height="50px" alt="Please wait while we process your data..."/> </div>
          </div>
        </center>
        
        <script src="js/vis3.js"></script>

     </div>

</body>






