<!DOCTYPE html>
	
<body class="d31">

<div id="content">

	<div id="nav">
		<table>
  			<tr>
  				<td><a href="/account" class="home">Home<p><br></p></a></td>
		  		<td><a href="/c3visualization" class="c31">Media Count<br><p>(C3JS Line Chart)</p></a></td>
		  		<td><a href="/c3jsv2" class="c32">Follower Count<br><p>(C3JS Scatter Plot)</p></a></td>
		  		<td><a href="/visualization" class="d31">Media Count<br><p>(D3JS Bar Chart)</p></a></td>
		  		<td><a href="visualization2" class="d32">Media Likes<br><p>(D3JS Bubble Chart)</p></a></td>
		  		<td class="lastlink"><a href="/login">Log Out<p><br></p></a></td>
		  	</tr>
		</table>
	</div>

	
 		<h1> Media Count of Your Instagram Followings </h1>
 		<p id="text"> The following bar chart uses <a href="http://d3js.org/">D3.js</a> to display media count of users that you followed on Instagram. 

 		<br><br>

 	
	<center>
		<label><input type="checkbox"> Sort values</label>
		
		<div id="chart1">
			<div id="spinner"> <image src="http://www.kubiszyn.co.uk/images/Spinner.gif" width="50px" height="50px" alt="Please wait while we process your data..."/> </div>
		</div>
	
		<script src="js/visualization.js"></script>
	</center>
	

</div>

</body>






